<div class="auth-container">
  <form class="auth-card" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="auth-title">{{mode === 'login' ? 'Login' : 'Sign up'}}</div>

    <input class="auth-input"
           formControlName="username"
           type="text"
           placeholder="Username"
           required
    />

    <div style="display: flex; flex-direction: column;">
      <input class="auth-input"
             formControlName="password"
             type="password"
             placeholder="Password"
             minlength="8"
             required
      />
      @if (mode === 'signup') {
        <small [class]="errorMessage ? 'error' : 'hint'">
          {{errorMessage || 'Password must be at least 8 characters long'}}
        </small>
      }
    </div>

    <button class="auth-button" type="submit">{{mode === 'login' ? 'Login' : 'Sign up'}}</button>

    <div class="auth-footer">
      @if (mode === 'login') {
        Don’t have an account? <a routerLink="/signup">Sign up</a>
      } @else {
        Already have an account? <a routerLink="/login">Log in</a>
      }
    </div>
  </form>
</div>
