<div class="chat-container">
  <div class="top-bar">
    <h3 class="title">Mini Message Board</h3>
    <div class="auth-actions">
      @if (!isLoggedIn) {
<!--        <button (click)="showLogin()">Login</button>-->
<!--        <button (click)="showSignup()" class="signup">Sign Up</button>-->
      } @else {
        <button (click)="logout()" class="logout">Logout</button>
      }
    </div>
  </div>
  <div class="messages" #messagesContainer>
    @if (loading) {
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <div class="chat-message loading"></div>
      }
    } @else {
      @for (group of messages; track group.key) {
        <div class="date-separator">{{ group.key }}</div>
        @for (msg of group.value; track msg._id) {
          <div [class]="'chat-message' + (msg.senderId?._id === currentUserId ? ' sent' : ' received')">
            <div class="chat-author">{{ msg.senderId?.username || '[deleted user]' }}</div>
            <div class="chat-content">{{ msg.content }}</div>
<!--              <div class="chat-time">{{ msg.createdAt | date:'HH:mm' }}</div>-->
          </div>
        }
      }
    }
  </div>
  <form class="chat-form">
      @if (isLoggedIn) {
        <div style="display: flex">
          <input
            type="text"
            [(ngModel)]="newMessage"
            name="message"
            (keyup.enter)="sendMessage()"
            placeholder="Type your message here..."
            class="chat-input"
            required
            [disabled]="!isLoggedIn || loading"
          />
          <button type="button" (click)="sendMessage()" [disabled]="!isLoggedIn || loading || !newMessage.trim()">Send</button>
        </div>
      } @else {
        <div class="auth-text">
          <span>Please <a href="#" (click)="$event.preventDefault(); showLogin()">log in</a> to send messages</span>
        </div>
      }
    @if (errorMessage) {
      <div class="error">{{errorMessage}}</div>
    }
  </form>
</div>
<app-auth
  [(visible)]="authVisible"
  [(mode)]="authMode"
  (loginSuccess)="onLoginSuccess()"
>
</app-auth>
