<!--<div class="top-bar">-->
<!--  <h3 class="title">Mini Message Board</h3>-->
<!--  <div class="auth-actions">-->
<!--    @if (!isLoggedIn) {-->
<!--      <button (click)="showLogin()">Login</button>-->
<!--      <button (click)="showSignup()" class="signup">Sign Up</button>-->
<!--    } @else {-->
<!--      <button (click)="logout()" class="logout">Logout</button>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->
<div class="chat-container surface">
  <div class="messages" #messagesContainer>
    @if (loading) {
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <div class="chat-message loading"></div>
      }
    } @else {
      @for (group of messages | groupByDate; track group.key) {
        <div class="date-separator">{{ group.key }}</div>
        @for (msg of group.value; track msg._id) {
          <div [class]="'chat-message' + (msg.senderId?._id === currentUserId ? ' sent' : ' received')">
            <div class="chat-author">{{ msg.senderId?.username || '[deleted user]' }}</div>
            <div class="chat-content surface">{{ msg.content }}</div>
<!--              <div class="chat-time">{{ msg.createdAt | date:'HH:mm' }}</div>-->
          </div>
        }
      }
    }
  </div>
  <div class="form-container surface">
    <form>
      @if (isLoggedIn) {
        <button
          type="button"
          (click)="logout()"
          class="logout-button surface"
          title="Logout">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round">

            <!-- The incomplete circle (arc) -->
            <path d="M18.36 6.64a9 9 0 1 1-12.73 0"/>

            <!-- The vertical line -->
            <line x1="12" y1="2" x2="12" y2="12"/>
          </svg>
        </button>
      }
      <input
        #messageInput
        type="text"
        [(ngModel)]="newMessage"
        name="message"
        (keyup.enter)="sendMessage()"
        (focus)="onInputFocus()"
        placeholder="Type your message here..."
        class="chat-input"
        required
        [disabled]="loading"
      />
      <button
        type="button"
        class="send-button primary"
        (click)="sendMessage()"
        [disabled]="!isLoggedIn || loading || !newMessage.trim()"
      >
        Send
      </button>
    </form>
<!--    @if (errorMessage) {-->
<!--      <div class="error">{{errorMessage}}</div>-->
<!--    }-->
  </div>
</div>
<app-auth
  [(visible)]="authVisible"
  [(mode)]="authMode"
  (loginSuccess)="onLoginSuccess()"
>
</app-auth>
