@use "_variables" as *;
@use "_forms";

html {
  min-height: 100dvh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: $color-background;

  body {
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:
      $font-family-base,
      system-ui,
        /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ "Segoe UI",
        /* Android 4+ */ "Roboto",
        /* Ubuntu 10.10+ */ "Ubuntu",
        /* Gnome 3+ */ "Cantarell",
        /* KDE Plasma 5+ */ "Noto Sans",
        /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji",
        /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol",
        /* Linux emoji */ "Noto Color Emoji";
  }

  * {
    box-sizing: border-box;
  }
}

small {
  margin-top: $space-xxs;
  text-align: center;

  &.error {
    color: $color-danger;
  }

  &.hint {
    color: $color;
  }
}

a {
  color: $color-primary-text;
  text-decoration: none;

  &:hover {
    color: $color-primary-hover;
    text-decoration: underline;
  }
}

input {
  background-color: $color-surface-solid;
  color: $color;
  font-family: $font-family-base;
  border: $border-width-none;
  box-shadow: inset $shadow-sm;

  &::placeholder {
    color: $color-muted;
    font-family: $font-family-base;
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    background-color: $color-surface;
    border-color: $color-muted;
    border-width: $border-width-thin;
    color: $color-muted;
  }
}

button {
  font-family: $font-family-base;
  border: $border-width-none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {

      &.primary {
        background: $color-primary-hover;
      }
      transform: scale(1.05);
      transition: background 0.2s ease, transform 0.1s ease;
    }
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    color: $color-muted;
    border-color: $color-muted;
    box-shadow: none;
  }
}

.surface {
  background-color: $color-surface;
  backdrop-filter: $frosty-glass;
  -webkit-backdrop-filter: $frosty-glass;
  //box-shadow: $shadow-md;
  color: $color;
}
